#teacher-container {
  grid-column: 3;
  grid-row: 2 / 5;
  background-color: #d0d0d3;
  border-radius: 14px;
}

#teacher-container h2 {
    font-family: "Baloo Bhai";
    font-size: 32px;
    text-align: center;
  }
  
  #teacher-container p {
    color: #2050fb;
    font-family: "Baloo Bhai";
    font-size: 16px;
    margin-top: 0;
    padding-left: 20px;
  }
  
  #teacher-info {
      /* width: 70%;
      float: left; */
  }
  
  #teacher-pic {
      text-align: center;
      margin-top: 25px;
  }
  
  #teacher-pic img {
      border-radius: 50%;
  }