#user-header-container {
  grid-column: 2;
  grid-row: 1;
  background-color: #d0d0d3;
  border-radius: 14px;
}

#user-header-container h1 {
  font-family: "Baloo Bhai";
  font-size: 64px;
  margin: ;
}
