.learning-hours-container {
  position: relative;
  width: 40vw;
}

#stats-options {
  display: flex;
  justify-content: space-between;
  font-family: 'Baloo Bhai';
  font-size: 16px;
}

#stats-options h3:nth-of-type(1) {
  flex-grow: 1;
}
#stats-options h3:nth-of-type(2) {
  flex-grow: 1;
}
#stats-options h3:nth-of-type(3) {
  flex-grow: 3;
  text-align: right;
}

