.learning-hours-container {
  position: relative;
  width: 40vw;
}

.stats-container {
    margin-bottom: ;
}

#stats-options {
  display: flex;
  justify-content: space-between;
  font-family: "Baloo Bhai";
  font-size: 16px;
}

.stat-option,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 30%;
  font-family: "Baloo Bhai";
  font-size: 18px;
}

#graphs select {
  font-family: "Baloo Bhai";
  font-size: 26px;
  border: 1px solid #D0D0D3;
}
#graphs {
  font-family: "Baloo Bhai";
  font-size: 16px;
  color: #2050FB;
  padding: 5px;
  border: 1px solid #D0D0D3;
  border-radius: 15px;
  overflow: hidden;
  background: #D0D0D3;
}
